<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Sehr geehrte/r <%= @customer.dear %> <%= @customer.lastname %>,
    </h1>
    </br>
    <p>
    herzlich Willkommen bei Ihrer Autowerkstatt.
    </br>
    Die neue Saison steht vor der Tür, kümmern sie sich bitte 
    rechtzeitig um einen Termin,
    </br>
    um Ihre Reifen zu wechseln und um lange Wartezeiten zu vermeiden.

    </p>
    </br>
    <p>
      Mit freundlichen Grüßen
    </br></br>
    <p>
     Ihre Autowerkstatt
    </p>
  </body>
</html>