<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Sehr geehrte/r <%= @customer.dear %> <%= @customer.lastname %>
</h1></br>
    <p>
Herzlich Willkommen bei Ihrer Autowerkstatt.
Die neue Saison steht vor der Tür, kümmern sie sich bitte 
rechtzeitig um einen Termin um Ihre Reifen zu wechseln um lange Wartezeiten zu vermeiden.


    </p>
    <p>
      Mit freundlichen Grüßen
    </br></br>
    <p>
     Ihre Autowerkstatt
    </p>
  </body>
</html>